@model IEnumerable<landing_page.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Visitantes</h2>

<p>
    @Html.ActionLink("volver", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Email
        </th>
        <th>
            Fecha de registro
        </th>
        <th>
            Ciudad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", null, new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
